In [35]:
# Importing pandas library
import pandas as pd
import numpy as np

In [36]:
# Importing the data sets of year 2006 and 2007
dataset_2006 = pd.read_csv(r"C:\Documents\Python data set\2006.csv").sample(frac=0.1, random_state=42)
dataset_2007 = pd.read_csv(r"C:\Documents\Python data set\2007.csv").sample(frac=0.1, random_state=42)

In [37]:
# Checking datasets
dataset_2006.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [38]:
dataset_2007.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [39]:
dataset_2006.shape

(714192, 29)

In [40]:
dataset_2007.shape

(745322, 29)

In [19]:
dataset_2006.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn                 int64
TaxiOut                int64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay           int64
WeatherDelay           int64
NASDelay               int64
SecurityDelay          int64
LateAircraftDelay      int64
dtype: object

In [20]:
dataset_2007.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn                 int64
TaxiOut                int64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay           int64
WeatherDelay           int64
NASDelay               int64
SecurityDelay          int64
LateAircraftDelay      int64
dtype: object

In [41]:
# Merging columns of both data sets to form a combined data set
merged_data = pd.concat([dataset_2006,dataset_2007])

In [46]:
# Checking the merged data set
merged_data.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [78]:
merged_data.head(100000)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5845152,2006,10,24,2,1900.0,1700,2111.0,1910,AA,2097,...,7,17,0,NaN,0,69,0,1,0,51
6159452,2006,11,19,7,1352.0,1351,1649.0,1726,UA,177,...,6,12,0,NaN,0,0,0,0,0,0
1877060,2006,4,28,5,1632.0,1635,1730.0,1743,OH,5260,...,5,10,0,NaN,0,0,0,0,0,0
2348342,2006,5,4,4,2006.0,1955,2115.0,2105,WN,1454,...,3,19,0,NaN,0,0,0,0,0,0
7057975,2006,12,21,4,744.0,730,901.0,826,AS,143,...,2,36,0,NaN,0,0,14,21,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864486,2007,5,20,7,1246.0,1250,1329.0,1340,MQ,4254,...,3,12,0,NaN,0,0,0,0,0,0
7193658,2007,12,14,5,1326.0,1315,1455.0,1439,F9,260,...,9,22,0,NaN,0,0,0,8,0,8
6727917,2007,11,26,1,1137.0,1140,1346.0,1345,AA,1007,...,6,23,0,NaN,0,0,0,0,0,0
3724960,2006,7,1,6,1612.0,1615,1843.0,1834,UA,55,...,3,18,0,NaN,0,0,0,0,0,0
3024732,2006,6,29,4,1624.0,1625,1648.0,1655,WN,726,...,6,7,0,NaN,0,0,0,0,0,0

In [50]:
# Removing the duplicates
merged_data = filtered_data.drop_duplicates()

In [51]:
# Checking for any null and missing values
merged_data.isnull().sum(axis=0)

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                28284
CRSDepTime                 0
ArrTime                31545
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    2
ActualElapsedTime      31545
CRSElapsedTime            88
AirTime                31545
ArrDelay                   0
DepDelay                   0
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     1431230
Diverted                   0
CarrierDelay               0
WeatherDelay               0
NASDelay                   0
SecurityDelay              0
LateAircraftDelay          0
dtype: int64

In [52]:
# Filling null values with mean values for column ArrDelay
merged_data['ArrDelay'] = merged_data['ArrDelay'].interpolate()

In [54]:
# Filling null values with mean values for column DepDelay
merged_data['DepDelay'] = merged_data['DepDelay'].interpolate()

In [55]:
# Checking again to make sure those missing value are filled with values
merged_data['ArrDelay'].isnull().sum(axis=0)

0

In [56]:
merged_data['DepDelay'].isnull().sum(axis=0)

0

In [79]:
# Importing Airports and Plane datasets
Airport = pd.read_csv(r"C:\Documents\Python data set\airports.csv")
Plane_data = pd.read_csv(r"C:\Documents\Python data set\plane-data.csv")

In [90]:
Plane_data.head(10)

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
34,N10156,Corporation,EMBRAER,02/13/2004,EMB-145XR,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2004
35,N102UW,Corporation,AIRBUS INDUSTRIE,05/26/1999,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1998
36,N10323,Corporation,BOEING,07/01/1997,737-3TO,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1986
37,N103US,Corporation,AIRBUS INDUSTRIE,06/18/1999,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1999
38,N104UA,Corporation,BOEING,01/26/1998,747-422,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1998
39,N104UW,Corporation,AIRBUS INDUSTRIE,07/02/1999,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1999
40,N10575,Corporation,EMBRAER,06/24/2003,EMB-145LR,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002
41,N105UA,Corporation,BOEING,10/15/2007,747-451,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1994
42,N105UW,Corporation,AIRBUS INDUSTRIE,07/22/1999,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1999
43,N106US,Corporation,AIRBUS INDUSTRIE,08/05/1999,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1999

In [81]:
# Removing duplicate values from the data sets
Airport = Airport.drop_duplicates()
Plane_data = Plane_data.drop_duplicates()

In [82]:
# Checking columns of Airport dataset
Airport.columns

Index(['iata', 'airport', 'city', 'state', 'country', 'lat', 'long'], dtype='object')

In [83]:
# Checking columns of plane dataset
Plane_data.columns

Index(['tailnum', 'type', 'manufacturer', 'issue_date', 'model', 'status',
       'aircraft_type', 'engine_type', 'year'],
      dtype='object')

In [84]:
# Checking for null values and missing values of these datasets
Airport.isnull().sum(axis=0)

iata        0
airport     0
city       12
state      12
country     0
lat         0
long        0
dtype: int64

In [85]:
Plane_data.isnull().sum(axis=0)

tailnum            0
type             549
manufacturer     549
issue_date       549
model            549
status           549
aircraft_type    549
engine_type      549
year             549
dtype: int64

In [87]:
# Removing missing values and null values
Airport = Airport.dropna()

In [88]:
Plane_data = Plane_data.dropna()

In [89]:
# Saving the cleaned datasets
merged_data.to_csv(r'c:\\Documents\Python data set\\merged.csv', index=False)
Airport.to_csv(r'c:\\Documents\Python data set\\Airport.csv', index=False)
Plane_data.to_csv(r'c:\\Documents\Python data set\\Plane_data.csv', index=False)